*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.swp
*.transifex.coffee

.node-version

client/public

client/app/locales
!client/app/locales/en.json

last.html
last.png

lib-cov

logs

node_modules
npm-debug.log

pids

results

tests/fixtures/messages_generated.json
tests/fixtures/messages_loaded.json
tests/fixtures/samples/*

sandbox.coffee
