*.swp
lib-cov
*.seed
*.csv
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
doc
results
client/public
client/bower_components
tests/fixtures/samples/*

node_modules
npm-debug.log
last.html
last.png
tests/fixtures/messages_generated.json
tests/fixtures/messages_loaded.json
