doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1")

    title Cozy Emails

    link(rel="apple-touch-icon", sizes="57x57", href="/apps/emails/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apps/emails/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apps/emails/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apps/emails/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apps/emails/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apps/emails/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apps/emails/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apps/emails/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apps/emails/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/apps/emails/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/apps/emails/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/apps/emails/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/apps/emails/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/apps/emails/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/apps/emails/manifest.json")
    link(rel="shortcut icon", href="/apps/emails/favicon.ico")
    meta(name="msapplication-TileColor", content="#8bee8c")
    meta(name="msapplication-TileImage", content="/apps/emails/mstile-144x144.png")
    meta(name="msapplication-config", content="/apps/emails/browserconfig.xml")
    meta(name="theme-color", content="#8bee8c")

    link(rel="stylesheet", href="/fonts/fonts.css")
    link(rel="stylesheet", href="css/app.css")

  body.application
    script!= imports
    script(src="js/vendor.js")
    script(src="js/app.js" onload="require('initialize');")
