/*
  Mailbox config / new mailbox form

  -- Form to create or update a mailbox
*/

#mailbox-config
    h3
        color #444
        margin-top 0
        padding-bottom 10px
        border-bottom 1px solid #f4f4f4

    button
        margin-left 5px