animationDuration = .3s

/*
  Generic animations
*/
@keyframes fadeIn {
    from {
        opacity 0
    }
    to {
        opacity 1
    }
}

/*
  Slide
*/
@keyframes slide {
    from {
        right 100%
    }
    to {
        right -100px
    }
}
