animationDuration = .3s

/*
  Generic animations
*/
@keyframes fadeIn {
    from {
        opacity 0
    }
    to {
        opacity 1
    }
}

/*
  Slide
*/
@keyframes slide {
    from {
        left 100%
    }
    to {
        left -100px
    }
}
