// Base Styles

html,
body
    height 100%
    width 100%
    padding 0
    margin 0

body
    text-rendering optimizeLegibility

body,
input
    color darkgrey
    font 300 16px main, Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

h2
    font-family styled

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

.container
  float left
  margin 0
  padding 0
  width 80%
  height 100%
