// Base Styles

html,
body
    height 100%
    width 100%
    padding 0
    margin 0
    font-size 100%

body
    text-rendering optimizeLegibility

body,
input
    color darkgrey
    font 1em/1.5 'Source Sans Pro', sans-serif
    line-height 1.2

h2
    font-family 'Maven Pro', sans-serif

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

label
    color: #333
    font-weight: normal
    font-size: 14px

input
    color: #333

.form-horizontal
    .radio-inline, .checkbox-inline
        padding-top .66em

.dropdown-menu
    cursor pointer
