// "Cozy" colors palette
// -----------------------------------------------------------------------------
// blue
basecolor = #34A6FF
basecolor-alpha = rgba(49, 156, 256, 0.5)

// green
contrastcolor = #5C5

// orange
actioncolor = #fe8800
actioncolor-alpha = rgba(254,128,0,0.5)

// gray and dark gray
lightcolor = #EEE
mediumcolor = #BDBDBD
mediumcolor-contrast = #428bca
darkcolor = #444

// special cozy colors
homeheadercolor = #363a46
bluegreen = #34A6BB
lightorange = #FFC47F
lightblue = #CBE4FB
lightred = #F4F4F4
grey = #666
lightgrey = #EEE


// App palette
// -----------------------------------------------------------------------------
base-background-color = #f5f5f5


// Defintions
// -----------------------------------------------------------------------------
.app
    background-color base-background-color


.app [role=menubar] [role=menuitem]
    color #777

    &:hover
        color basecolor
