// blue
basecolor = #34A6FF
basecolor-alpha = rgba(49, 156, 256, 0.5)

// green
contrastcolor = #5C5

// orange
actioncolor = #fe8800
actioncolor-alpha = rgba(254,128,0,0.5)

// gray and dark gray
lightcolor = #EEE
mediumcolor = #BDBDBD
mediumcolor-contrast = #428bca
darkcolor = #444
