/*
  new email window
*/
#email-compose

    &.enable
        display block

    h3
        color #444
        margin-top 0
        padding-top 1em
        margin-bottom 2em

    a.close-email
        margin-right 0

    a.expand
        float right
        font-size 1em

  .editor,
  .rt-editor
    border 1px solid #444
    min-height 16em
    max-height 24em
    overflow auto
    height auto
    width 100%
    text-align left
    color black

  .attachements
      margin 1em 0

  .input-group.contact-group
      padding 0 15px // pixels because we override Bootstrap

  .contact
      top: -1px

  .compose-toggle
    float right

    a
      padding 0 1em

  #compose-to
      width 90%
      max-width 750px
      display inline

  #compose-cc
      width 90%
      max-width 750px
      display inline

  #compose-bcc
      width 90%
      max-width 750px
      display inline

  .contact
      display inline
      width 10%

  .compose-input
      position relative

  .compose-from
    line-height 2em
    color darkcolor
    cursor pointer

    .caret
        margin-left 0.5em
  .compose-cc,
  .compose-bcc
    display none

  .compose-cc.shown,
  .compose-bcc.shown
    display inherit

