a
    color basecolor

a:hover
    color actioncolor

input
select
textarea
.form-control
    border 1px solid basecolor
    border-radius 0
    font-family 'Source Sans Pro', sans-serif
    color #333
    font-size: 16px
    height 2em

    &:hover
        border 1px solid actioncolor

    &:focus
    &:active
        box-shadow none

.modal-header
    background-color bluegreen
    color white
    font-family 'Maven Pro', sans-serif
    font-size 1.75em
    padding 1em
    border-top-left-radius .25em
    border-top-right-radius .25em

.modal-body
    font-family 'Source Sans Pro', sans-serif
    min-height 10em


/*      COZY BUTTONS    */
.btn
  // position relative for spinner
  position relative

  &.btn-cozy
    background-color basecolor
    border-color basecolor
    font-family 'Source Sans Pro', sans-serif
    color white

    .caret
      border-top-color white
      border-bottom-color white

    &:hover
      background-color actioncolor
      border-color actioncolor

    &:active
    &:focus
        outline 0

  &.btn-cozy.toggled
    box-shadow 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    background-color basecolor - 10%

    &:hover
      background-color actioncolor - 10%

  &.btn-cozy-contrast
    background-color contrastcolor - 10%
    border-color contrastcolor - 10%
    color white

    &:hover
      background-color actioncolor
      border-color actioncolor

.btn.btn-cozy-non-default
    color basecolor
    background-color transparent

    &:hover
        text-decoration underline
        color actioncolor

    &:active
    &:focus
        outline 0

.hidden
  display none

.btn.btn-danger
    text-shadow: none
    font-weight: normal
    border: 0

    &:active
    &:focus
        border: 0
        outline: 0
