a
    color basecolor

a:hover
    color darken(basecolor, 20%)

input
select
textarea
.form-control
    border 1px solid #ddd
    border-radius 0
    font-family 'Source Sans Pro', sans-serif
    color #333
    font-size: 16px
    height 2em
    box-shadow none

    &:hover
        border-color basecolor

    &:focus
    &:active
        border-color basecolor
        box-shadow none

.modal-header
    background-color #f2f2f2
    color #333
    font-size 1.5em
    padding 1em
    border-top-left-radius .25em
    border-top-right-radius .25em

    h4
        font-size 1.5rem

.modal-body
    font-family 'Source Sans Pro', sans-serif
    min-height 5em
.modal-body.no-content
    min-height auto
.modal-footer
    margin-top 0
    text-align left

/*      COZY BUTTONS    */
.btn
  // position relative for spinner
  position relative
  text-transform uppercase

  &.btn-cozy
    background-color basecolor
    border-color basecolor
    font-family 'Source Sans Pro', sans-serif
    color white

    .caret
      border-top-color white
      border-bottom-color white

    &:hover
      background-color darken(basecolor, 20%)
      border-color darken(basecolor, 20%)

    &:active
    &:focus
        outline 0

  &.btn-cozy.toggled
    box-shadow 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    background-color basecolor - 10%

    &:hover
      background-color actioncolor - 10%

  &.btn-cozy-contrast
    background-color contrastcolor - 10%
    border-color contrastcolor - 10%
    color white

    &:hover
      background-color darken(contrastcolor, 20%)
      border-color darken(contrastcolor, 20%)

.btn.btn-cozy-non-default
    color basecolor
    background-color transparent

    &:hover
        text-decoration underline
        color darken(basecolor, 20%)

    &:active
    &:focus
        outline 0

.hidden
  display none

.btn.btn-danger
    text-shadow: none
    font-weight: normal
    border: 0

    &:active
    &:focus
        border: 0
        outline: 0
