.app
    display     flex
    width       100vw
    height      100vh
    align-items stretch
    overflow    hidden

    & > aside
        white-space nowrap

        @media(min-width: 20em)
            // elements only visible on large screens (compose button, etc)
            &[aria-expanded=false]
                .item-label
                    display none

    & > main
        position    relative
        flex        1
        display     flex
        align-items stretch


    @media(max-width: 29.99999em)
        & > main
            position absolute
            top      0
            left     0
            width    100%
            height   100%


    @media(max-width: 47.99999em)
        & > main section
            position absolute
            top      0
            left     0
            width    100%
            height   100%

        // set rules for drawer
        & > aside[aria-expanded=true]
            min-width 80vw

            + main section
                width 100vw


    @media(min-width: 48em)
        & > main section
            flex 1

            &[aria-expanded=false]
                flex 0

        &.layout-h
            // horizontal split rules
        &.layout-v
            // vertical split rules


    @media(min-width: 80em)
        &.layout-v .message-list
            // max-width for message list
