/*
  MENU

  -- Menu internal layout and styles
*/

#menu
  // We use a flexbox display so the #mailbox-list takes all the height left
    display flex
    flex-direction column

    height 100%
    padding 0

    background homeheadercolor

    /*
        Menu layout
    */
    #account-list
        flex 1 // Takes all height left
        overflow auto
        margin 0

    .new-account-action
        // Sets position at the bottom of the menu
        margin-top auto

    /*
        Styles
    */

    // Clickable menu elements
    .menu-item
        display inline-block // used for non flexed elements (within .account-list)
        position relative // for badge positionning
        width 100%
        padding .75em .25em
        margin 0
        font-size 1em
        font-family styled
        color mediumcolor
        text-align center
        vertical-align middle
        text-decoration none

        i
        .item-label
        .badge
            vertical-align middle

        // icon
        i
            font-size 1.25em

        .item-label
            display block
            overflow hidden
            text-overflow ellipsis
            white-space nowrap

        .badge
            position absolute
            top .75em // equal to parent's padding-top
            right .25em // equal to parent's padding-right
            background basecolor
            font-size .75em
            margin-left .25em
            font-family Geneva // Cozy's fonts are not readable

        &:hover
        &.active
            background #363a46 + 10%
            color #fff

        &.news
            .badge
                color red
                background yellow

    // Account list
    #account-list
        li
            .submenu
                display none

                background #363a46 + 5%

                // submenu icons
                .menu-item i
                  font-size 1.25em

            border-left .25em solid transparent

            &:hover
                border-left .25em solid #363a46 + 10%

            &.active
                border-left .25em solid mediumcolor-contrast - 30%
                .menu-item
                    color #fff

                .submenu
                    display block
            a.menu-item *
                // this is needed for dragenter and dragleave events to work
                pointer-events none
            &.target
                border 1px dashed white


    // New account action button
    .new-account-action
        font-size 1em
        opacity 0.5

        &:hover
            opacity 1
