/*
  MENU

  -- Menu internal layout and styles
*/

.app [role=menubar]
    padding        .5em
    display        flex
    flex-direction column


    .fa
        vertical-align middle

    .compose-action
        i
            vertical-align baseline

        .item-label
            padding-left .5em


    .mainmenu
        flex           1
        display        flex
        flex-direction column

        .active
            flex       1
            overflow-y auto

        .fa
            font-size 1.5em


    .submenu
        display         flex
        justify-content space-around
        border-top      1px solid #fff
        box-shadow      0 -1px 0 #ccc

        & :first-child
            flex 1


    .account
        font-weight bold


    [role=group]
        margin-bottom 2em


    [role=menuitem]
        align-items center

        .badge
            order       1
            margin-left auto

        &:not(.drawer-toggle)
            display flex
            padding .5em

            .item-label
                margin-left 1em


    for level in (1..10)
        .lv-{level}:not(.special)
            padding-left level * 2em


    .drawer-toggle
        background transparent


    .avatar
        width          2.25em
        height         2.25em
        display        inline-block
        border-radius  50%
        line-height    2.25em
        text-align     center
        font-size      1.25em
        font-style     normal
        text-transform uppercase
        color          white
        vertical-align middle

    .account-title
        display flex

        .account
            flex 1

        .mailbox-config
            display    none
            margin     auto 0
            background transparent
            border     none

        &:hover
            .mailbox-config
                display block


    .mailbox-list
        padding-left .5em

        li
            display flex

            a
                flex 1

            button
                display none
                margin auto 0
                color basecolor
                background transparent
                border none

                &:hover
                    color actioncolor

            &:hover
                button
                    display block


    /*
    Styles for Menu drawer in compact mode

    */
    @media(min-width: 20.0625em)
        &[aria-expanded=false]
            .item-label
            .toggle-favorites
            .new-account-action
                display none

            .mainmenu
                [role=menuitem]
                    display none

                    padding-left .5

                    &.account
                    &.inboxMailbox
                    &.sentMailbox
                        display flex

            .mailbox-config
                display none !important
