/*
  Message list

  -- Message list bar internal layout and styles
*/

.message-list
    padding 0

    &.disable
        display none

    .pagination-box
        text-align center

    .pagination
        margin .5em 0 1em 0

    .pagination > li > a, .pagination > li > span
        border-width 0

    .pagination > li.current
        font-weight bold

    .message
        cursor pointer
        font-size 0.8em
        border 0
        height 2.4rem

        > a
        > span
          padding 0 .25em
          display block
          outline none

          // We use a flexbox display so the message preview takes all the width left
          display flex
          justify-content flex-start
          align-items center

          text-decoration none

        input[type="checkbox"]
            height auto
            width auto
            margin 0 0.3em 0 0.5em
            cursor pointer

        .participants
        .preview
            margin 0.25em 2em 0 1em
        .participants
            flex-grow 2
        .preview
            flex-grow 4
            width 100%
        .hour
          flex-grow 1

        .preview
            margin 0.25em .75em 0 auto
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            color mediumcolor // for ellipsis + p

            .conversation-length
                margin-right 5px

            .title
                color darkcolor
            p
                margin 0
                display inline

        .participants
            width 12em
            min-width 12em
            max-width 12em
            color darkcolor
            white-space pre
            overflow hidden
            text-overflow ellipsis

        .title
            margin-top: 0.25em
            min-width 200px
            &:after
                content ' - '

        .hour
            margin-left auto
            color darkcolor
            text-align right
            width 6em

        // placeholder until we have images
        .fa-user
        .avatar
        .select
            margin 0
            color #aaa
            font-size 2em
            width 1.5em
            height 1.5em
            padding-top 0.25em
            text-align center

        img.avatar
            padding-top 0

        .select
            display none

      .fav
        color yellow
        display none

      .attach
        display none

    .message:nth-child(2n+1)
       background-color lightcolor
       //background linear-gradient(to bottom, #fff 0%, lightcolor 15%, lightcolor 85%, #fff 100%)

    .message.active
       background lightblue

    .message.unseen
      font-weight bold

    .message .flags
        width 3em

    .message.has-attachments .attach
      display inline
      padding 0 .5em

    .message.is-fav .fav
      display inline
      padding 0 .5em

    .message:hover
       background lightorange

    .message.edited
       span.wrapper
           margin 0
           padding 0em .25em 0em .25em

        .participants
             margin-left 1em

    .message.edited
    .avatar-wrapper:hover
        .select
             display inherit
             margin 0.49em

        .fa-user
        .avatar
             display none

    .avatar-wrapper:hover
        .participants
             margin-left 1.4em

    .message-list-actions
      display flex
      justify-content flex-start
      align-items left
      /* Fixed toolbar, see https://github.com/cozy/cozy-emails/issues/191
      position fixed
      background-color white
      top 0
      padding .5em 0
      z-index 1000
      */

    .message-list-actions + *
        clear both
        margin-top 2.5em

/* Fixed toolbar, see https://github.com/cozy/cozy-emails/issues/191
#panels.three .message-list-actions
  width 34%
#panels.three.full .message-list-actions
  width 72%
#panels.vertical .message-list-actions
  width 43%
#panels.horizontal .message-list-actions,
#panels.vertical.full .message-list-actions
  width 89%
*/

.message-list.compact
    .message
        height 1.75em
    .message a.wrapper
    .message span.wrapper
        padding 1px 0
    .fa-user
    .avatar
    .select
        font-size 1.5em
        width 1.2em
        height 1.2em
        margin -.1em 0
        padding-top 0.1em
    input[type="checkbox"]
    .message.edited .select
    .avatar-wrapper:hover .select
        height auto
        width auto
        margin 0 0.2em 0 0.3em
        cursor pointer

.message-list-option

    .btn.btn-default
        font-size: 1.1em
        transition: color 0.2s ease
        background: none
        box-shadow: none
        border: 0
        color: basecolor

        &:active
            color actioncolor - 10%

    .btn.btn-default.shown
    .btn.btn-default:hover
        color: actioncolor

        &:active
            color actioncolor - 10%

.message-list-actions

    .toggle-menu-button
        display none

    .btn.btn-default.dropdown-toggle.move
    .btn.btn-default.dropdown-toggle.more
        font-size: 1em
        transition: color 0.2s ease
        background: none
        box-shadow: none
        border: 0
        color: basecolor

    .btn.btn-default.dropdown-toggle.move:hover
    .btn.btn-default.dropdown-toggle.more:hover
        color: actioncolor


.message
    .fa-paperclip
        display none

    .fa-star
        display none

.message:hover
    background lightorange

.message.active

    .select
        height auto
        margin 0
        padding 0

.more-messages
    cursor pointer
