/*
  Quick actions bar

  -- Quick actions bar internal layout and styles
*/

#quick-actions

    // Responsive menu buttons
    .responsive-handler
        color #333
        font-size 25px
        text-decoration none
        cursor pointer

    .fa-bars
        font-size 35px
    .fa-chevron-left
        font-size 30px

    // Search form
    form
        padding-left 0