/*
  Quick actions bar

  -- Quick actions bar internal layout and styles
*/

#quick-actions

    // Responsive menu buttons
    .responsive-handler
        color #333
        font-size 1.75em
        text-decoration none
        cursor pointer

    .fa-bars
    .fa-chevron-left
        font-size 2em

    // Search form
    form
        padding-left 0

    a.btn
        margin-right .5em;
