/*
  Quick actions bar

  -- Quick actions bar internal layout and styles
*/

#quick-actions

  // Responsive menu button
  .fa-bars
    font-size 35px
    color #333

  // Search form
  form
    padding-left 0