@media (max-width 768px)

    // Message list
    #page-content
        #panels
            .panel
                padding 0

                .participants
                    max-width 100px
                    min-width 100px
                    margin-left 0
                    margin-right 15px

                .message
                    padding 5px


                .avatar-wrapper
                .flags
                .hour
                    display none

            .mailbox-config
                display none

    .message-list-option

        .btn.btn-default
            font-size 1.6em

    // Mailbox menu

    #menu
        .settings-action
        .new-account-action
        .compose-action
            display none

    .message-list-actions

        .toggle-menu-button
            display inline-block
            font-size 1.1em
 

    // Conversations

    .message-title
        padding 10px

    .conversation .thread .message .messageToolbox
        display none

    .conversation .thread .message .content-action
        padding 10px 20px

    .conversation .thread .message .header.compact
        padding 0px 20px
