.search-bar
    display     flex
    align-items center


.search-bar
    border           1px solid grey-04
    border-radius    .1875em

    i
        margin-left .35em
        align-self  center


    .account-picker
        margin 0 .35em
        cursor pointer


    [role="search"]
        flex        1
        align-self  stretch
        display     flex
        border-left 1px solid grey-04


    input
        flex          1 1 0%
        height        auto
        padding-left  .35em
        border        none
        border-radius 0 .1875em .1875em 0
        background-color grey-01

        &:focus
            background-color white
            outline none
            box-shadow 0 0 0 1px basecolor


    .btn-group
        align-self center


    .btn
        color   mediumcolor
        padding 0 .5em

        &:hover
            color actioncolor
