.search-bar
    display flex
    align-items stretch

    .account-picker
        padding 0.4em 0.7em
        flex 0 1 auto

    [role="search"]
        flex 1 0 50%
        display  flex
        position relative

        input
            flex    1
            display flex

        .btn-group
            position absolute
            top      0
            right    0

        .btn:hover
            color actioncolor



