.toasts-container
    position absolute
    width 300px
    bottom 10px
    right 10px
    z-index 150

    .alert
    	margin-bottom 10px
    	padding 5px

    .progress
    	display inline-block
    	margin-bottom 0px
    	width 272px