/*
  Toolbar style

  -- toolbar are components that handle actions for their parent context
*/
.toolbar

    padding 0.5em 15px

    .btn
        border      none
        color       basecolor
        text-shadow none
        box-shadow  none

        &:hover
            color actioncolor

    .fa-compress
        transform none

    for num in (1..10)
        .pusher-{num}
            padding-left num * 20px + 20px
