// Stylus mixins
@import 'nib'

// Cozy default stuff
@import '_colors'
@import '_base'
@import '_cozy'

// UI skeleton positionning
@import '_layout'

// Components styles and inter
@import '_menu'
@import '_quick-actions-bar'
@import '_email-list'
@import '_email-thread'

/*
  Put styles here for scaffolding and testing out new features/stuff
  "Production-ready" components styles should live in a dedicated file
*/


* > .fa-compress
  transform rotate(45deg)

/*
  Panels animations
*/
@keyframes moveToRight {
  from { transform: translateX(-100%); }
  to { transform: translateX(0%); }
}

@keyframes moveToLeft {
  from {
    left 100%

  }
  to {
    left 50%
  }
}

@keyframes moveToRight {
  from {
    left 0%

  }
  to {
    left 50%
  }
}

@keyframes moveFromLeft {
  from {
    left -100%
  }

  to {
  }
}

@keyframes expandFromRight {
  from {
    left 50%
    width 50%
  }
  to {
    left 0
    //width 50%
    //background red
  }
}


animationDuration = .3s

.panel:first-of-type
  left 0
  position absolute
  z-index 100

.panel:nth-of-type(2)
  left 50%
  top 0
  position absolute
  z-index 50

.panel:first-of-type.col-md-6
  transition width animationDuration ease
  position absolute
  z-index 100

.panel:first-of-type.col-md-12
  transition width animationDuration ease

.panel:first-of-type.expandFromRight
  animation expandFromRight animationDuration ease

.panel:first-of-type.moveFromLeft
  animation moveFromLeft animationDuration ease

.panel:nth-of-type(2).slide-in-from-right
  animation moveToLeft animationDuration ease

.panel:nth-of-type(2).slide-in-from-left
  animation moveToRight animationDuration ease-out

/*
  mailbox config window
*/
#mailbox-new
  h3
    color #444
    margin-top 0
    padding-bottom 10px
    border-bottom 1px solid #f4f4f4


/*
  new email window
*/
#email-compose

  &.enable
    display block

  &.col-md-6
  &.col-md-12
    transition width 0.2s ease-out

  h3
    color #444
    margin-top 0

    a
      color basecolor

    a.close-email
      margin-right 15px

    a.expand
      float right
      font-size 25px

#email-compose
  textarea
    border 1px solid #444
    height 250px
    width 100%
    text-align left

/*
  Open email tabs

  -- disabled because of the ugly scrollbar on most of the computers
*/
#email-thread .nav
  display block
  margin-bottom 30px

  overflow auto

  li
    position relative

    &:not(.active)
      max-width 150px
      a
        color mediumcolor
    a
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

      border none
      border-bottom 1px solid basecolor
      margin 0

      &:hover
        color mediumcolor-contrast

    .close
      position absolute
      top 0
      right 0

    &.active a
    a:hover
      border-radius 0
      border none
      border-bottom 4px solid basecolor
