// Stylus mixins
@import 'nib'

// Cozy default stuff
@import '_colors'
@import '_base'
@import '_cozy'

// UI skeleton positionning
@import '_layout'

// Components styles
@import '_menu'
@import '_quick-actions-bar'
@import '_email-list'
@import '_email-thread'

/*
  Put styles here for scaffolding and testing out new features/stuff
  "Production-ready" components styles should live in a dedicated file
*/

animationDuration = .3s


* > .fa-compress
  transform rotate(45deg)

/*
  Panels animations
*/

@keyframes moveFromLeft {
  from {
    transform translate(-100%)
  }
  to {
    transform translate(0)
  }
}

@keyframes moveFromRight {
  from {
    transform translate(100%)
  }
  to {
    transform translate(0)
  }
}

@keyframes expandFromRight {
  from {
    transform translate(50%)
  }
  to {
    transform translate(0)
  }
}

.panel:first-of-type
  z-index 100

.panel:nth-of-type(2)
  z-index 50

// left panel collapse animation
.panel:first-of-type.col-md-6
  transition width animationDuration ease

// left panel expand animation
.panel:first-of-type.col-md-12
  transition width animationDuration ease

// left panel 'enter' animation
.panel:first-of-type.moveFromLeft
  animation moveFromLeft animationDuration ease

// right panel expands animation
.panel:first-of-type.expandFromRight
  animation expandFromRight animationDuration ease

// rightPanel 'enter' animation from right
.panel:nth-of-type(2).slide-in-from-right
  animation moveFromRight animationDuration ease

// rightPanel 'enter' animation from left
.panel:nth-of-type(2).slide-in-from-left
  animation moveFromLeft animationDuration ease-out

/*
  mailbox config window
*/
#mailbox-new
  h3
    color #444
    margin-top 0
    padding-bottom 10px
    border-bottom 1px solid #f4f4f4

  button
    margin-left 5px



/*
  new email window
*/
#email-compose

  &.enable
    display block

  &.col-md-6
  &.col-md-12
    transition width 0.2s ease-out

  h3
    color #444
    margin-top 0

    a
      color basecolor

    a.close-email
      margin-right 15px

    a.expand
      float right
      font-size 25px

#email-compose
  textarea
    border 1px solid #444
    height 250px
    width 100%
    text-align left

/*
  Open email tabs

  -- disabled because of the ugly scrollbar on most of the computers
*/
#email-thread .nav
  display block
  margin-bottom 30px

  overflow auto

  li
    position relative

    &:not(.active)
      max-width 150px
      a
        color mediumcolor
    a
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

      border none
      border-bottom 1px solid basecolor
      margin 0

      &:hover
        color mediumcolor-contrast

    .close
      position absolute
      top 0
      right 0

    &.active a
    a:hover
      border-radius 0
      border none
      border-bottom 4px solid basecolor
