// Stylus mixins
@import 'nib'

// Cozy default stuff
@import '_colors'
@import '_base'
@import '_cozy'

// Animations (for transitions), must be imported before custom styles
@import '_animations'

// UI skeleton positionning
@import '_layout'

// Components styles
@import '_account-config'
@import '_conversation'
@import '_compose'
@import '_file-picker'
@import '_menu'
@import '_message-list'
@import '_quick-actions-bar'
@import '_toasts'
@import '_responsive'

// tweaks fontawesome icons
* > .fa-compress
    transform rotate(45deg)

.spin
    margin 10px

/*
  Put styles here for scaffolding and testing out new features/stuff
  "Production-ready" components styles should live in a dedicated file
*/

// Responsive menu buttons
.responsive-handler
    color #333
    font-size 1.75em
    text-decoration none
    cursor pointer


#quick-actions
    &> div
        padding 0


    form
        display table

        .dropdown
        .form-group
            display table-cell

        .dropdown
            max-width 30%
        .form-group
            max-width 70%
            padding-left.75em


/*
  Contextual actions
*/
#contextual-actions
    padding 0

    .mailbox-config
    &.fade-enter
        animation fadeIn animationDuration ease

    &.fade-leave
        animation fadeIn animationDuration ease reverse


.contact-form
  .contact-list
    left 1em
    background-color #fff
    list-style outside none none
    margin 2px 0 0
    padding.25em 0

    & > li > a
      color #333
      display block
      padding .25em 0
    & > li.selected
      background basecolor
    & > li.selected > a
      color white
    & > li.selected:hover > a
      color black

   .avatar
       font-size 2em
       width 1em
       height 1em
       margin-right .5em
       text-align center
       vertical-align middle

/*
  Open email tabs

  -- disabled because of the ugly scrollbar on most computers
*/
.conversation .nav
    display block
    margin-bottom 2em

    overflow auto

    li
        position relative

        &:not(.active)
            max-width 2em
            a
                color mediumcolor
        a
            overflow hidden
            white-space nowrap
            text-overflow ellipsis

            border none
            border-bottom 1px solid basecolor
            margin 0

            &:hover
                color mediumcolor-contrast

        .close
            position absolute
            top 0
            right 0

        &.active a
        a:hover
            border-radius 0
            border none
            border-bottom .25em solid basecolor

.address-list
    margin 0
    padding 0
    span
        margin 0
        padding 0
    .address-item
        margin 0
        padding 0
        span
            margin 0
            padding 0

.tooltip
    background-color black
    color white
    font-size 1rem
    border-radius .25rem
    text-align center
    white-space initial

    a.address-add
        display inline
    .avatar
        color #aaa
        font-size 2em
        border 1px solid #aaa
        width 1em
        height 1em
        text-align center

.tooltip.top
    padding .25rem .5rem
    .tooltip-arrow
        bottom -4px

.tooltip-mask
    position absolute
    background transparent

.row-alert
    z-index 1

    .alert
        opacity 1

    .alert.autoclose
        opacity 0
        transition opacity 10s

.compose-toggle-cc
.compose-toggle-bcc
    cursor pointer

.composeToolbox
    text-align right

    .fa
        margin-right 1em

    .btn
        margin-left .5em

    .btn.btn-cozy:first-child
        background-color contrastcolor
        border-color contrastcolor

        &:hover
            background-color actioncolor
            border-color actioncolor


.clickable
    cursor: pointer
.file-picker
    .dropzone
        width 100%

        span
        input
            width 100%

