doctype
html(lang='en')
    meta(charset="utf-8")
    title STATIC MOCKUPS | Cozy Emails - General Settings
    link(rel="stylesheet" charset="utf-8" href="./styles/app.css")

body
    div(role="application")
        include ./components/menu/index.jade

        div(role="contentinfo")
            include ./components/conversations/index.jade
            include ./components/conversation/empty.jade
        
        div(role="complementary")
            - var error = true
            include ./components/settings/create-account.jade
