doctype
html(lang='en')
    meta(charset="utf-8")
    title STATIC MOCKUPS | Cozy Emails - Select all Conversations
    link(rel="stylesheet" charset="utf-8" href="./styles/app.css")

body
    div(role="application")
        include ./components/menu/index.jade

        div(role="contentinfo")
            - var all = true
            include ./components/conversations/index.jade
            include ./components/conversation/multi-select.jade
